<%- include('../partials/adminHeaderAndSidebar') %>


    <!-- Main Content -->
    <div class="main-content">
        <section class="section">
            <div class="section-header">
                <h1>Brands</h1>

                <% if(locals.message) { %>
                    <label id="alert-success" class="alert <%= locals.class %> position-absolute rounded p-2  "
                        style="top:0; left: 0 !important; right: 0 !important; text-align: center;">
                        <%= locals.message %>
                    </label>
                    <script>
                        document.addEventListener('DOMContentLoaded', () => {
                            // hide the success alert after 6 seconds
                            setTimeout(() => {
                                const alertSuccess = document.getElementById('alert-success');
                                if (alertSuccess) {
                                    alertSuccess.style.display = 'none'
                                }
                            }, 6000)
                        })
                    </script>
                    <% } %>
            </div>

            <div class="section-body">

                <div class="card">
                    <div class="card-body d-flex justify-content-start">
                        <a href="/admin/add-brand" class="btn btn-primary">
                            <i class="fa-solid fa-plus"></i> Add brand
                        </a>
                    </div>
                </div>

                 
            <% function formatDateTime(dateTimeString) {
                const date = new Date(dateTimeString);
                const day = ('0' + date.getDate()).slice(-2); // Get day of the month (1-31) and add leading zero
                const month = ('0' + (date.getMonth() + 1)).slice(-2); // Get month (0-11) and add leading zero
                const year = date.getFullYear(); // Get full year (e.g., 2024)
                const formattedDateTime = `${day}/${month}/${year}`;
                return formattedDateTime;
              } %>


                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Details</h4>
                            <!-- <div class="card-header-form">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div> -->
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">

                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>No.</th>
                                            <th>Brand Name</th>
                                            <th>Image</th>
                                            <th>Description</th>
                                            <th>Sold</th>
                                            <th>Stock</th>
                                            <th>Added</th>
                                            <th>Actions</th>
                                        </tr>

                                        <% locals.brands.forEach( (brand, index)=> { %>
                                            <tr>
                                                <td><%= index + 1 %></td>
                                                <td><%= brand.name %></td>
                                                <td>
                                                    <img src="/uploads/<%= brand.image %>" alt="<%= brand.name %> Image"
                                                        style="max-width: 60px; height: 60px; margin: 2px 0;">
                                                </td>
                                                <td><%= brand.description %></td>
                                                <td><%= brand.sold %></td>
                                                <td><%= brand.stock %></td>
                                                <td><%= formatDateTime(brand.createdAt) %></td>
                                                <td>
                                                    <div class="action-buttons d-flex" style="gap: 5px;">
                                                      <a href="/admin/edit-brand/<%= brand._id %>" class="btn btn-primary">Edit</a>
                                                      <form action="/admin/delete-brand/<%= brand._id %>" method="post" style="display: inline;">
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                      </form>
                                                    </div>
                                                  </td>
                                            </tr>
                                            <% }) %>
                                            

                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <%- include('../partials/adminFooter') %>