<%- include('./partials/loginHeader') %>

    <main class="main">
        

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17 position-relative "
            style="background-image: url('/assets/images/backgrounds/login-bg.jpg')">
            <% if(locals.message) { %>
                <label id="alert-success" class="alert <%= locals.class %> position-absolute rounded p-2  "
                    style="top:0; left: 0 !important; right: 0 !important; text-align: center;">
                    <%= locals.message %>
                </label>
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        // hide the success alert after 3 seconds
                        setTimeout(() => {
                            const alertSuccess = document.getElementById('alert-success');
                            if (alertSuccess) {
                                alertSuccess.style.display = 'none'
                            }
                        }, 6000)
                    })
                </script>
                <% } %>
                    <div class="container">
                        <div class="form-box">
                            <div class="form-tab">
                                <ul class="nav nav-pills nav-fill" role="tablist">
                                    <li class="nav-item">
                                        <h4>Reset new password</h4>
                                    </li>
                                </ul>
                                <div class="tab-content" id="tab-content-5">
                                    <div class="tab-pane fade show active" id="signin" role="tabpanel"
                                        aria-labelledby="signin-tab">
                                        <form action="/forgot-password-reset" method="post">
                                            
                                            <div class="form-group">
                                                <label for="register-password">Password *</label>
                                                <input type="text" class="form-control signup-input"
                                                    id="register-password" name="password"
                                                    value="<%= locals.password %>">
                                                <div class="d-none password-security-label"
                                                    style="font-weight:500; font-size: 12px; margin: 0;"></div>
                                                <label class="error-label d-none text-danger password-label"
                                                    style="font-weight:500; font-size: 12px; margin: 0;"></label>
                                                <div class="d-none one-capital-letter-label"
                                                    style="font-weight:500; font-size: 12px; margin: 0;"></div>
                                                <div class="d-none one-small-letter-label"
                                                    style="font-weight:500; font-size: 12px; margin: 0;"></div>
                                                <div class="d-none one-digit-label"
                                                    style="font-weight:500; font-size: 12px; margin: 0;"></div>
                                                <div class="d-none one-special-char-label"
                                                    style="font-weight:500; font-size: 12px; margin: 0;"></div>
                                                <div class="d-none eight-char-label"
                                                    style="font-weight:500; font-size: 12px; margin: 0;"></div>
                                            </div><!-- End .form-group -->

                                            <div class="form-group">
                                                <label for="reEnter-password">Re-enter password *</label>
                                                <input type="text" class="form-control signup-input"
                                                    id="reEnter-password" name="rePassword"
                                                    value="<%= locals.rePassword %>">
                                                <label class="error-label d-none text-danger re-password-label"
                                                    style="font-weight:500; font-size: 12px; margin: 0;"></label>
                                            </div><!-- End .form-group -->

                                            <div class="form-footer">
                                                <button type="submit" class="btn-submit btn btn-outline-primary-2">
                                                    <span>Update</span>
                                                    <i class="icon-long-arrow-right"></i>
                                                </button>

                                                
                                            </div><!-- End .form-footer -->
                                        </form>

                                       <!-- Signup Form Client-side validation using pure javascript  -->
                                       <script>

                                        const error_labels = document.querySelectorAll('.error-label');
                                        let inputs = document.querySelectorAll('.signup-input');

                                        inputs.forEach((input, index) => {
                                            input.addEventListener('focus', () => {
                                                input.style.setProperty('border-color', '#ebebeb', 'important');
                                                error_labels[index].classList.add('d-none');
                                            });

                                            input.addEventListener('focusout', () => {
                                                if (input.value.trim().length === 0) {
                                                    input.style.setProperty('border-color', 'red', 'important');
                                                    error_labels[index].textContent = '* This field is required!'
                                                    error_labels[index].classList.remove('d-none');
                                                } 
                                            })
                                        });

                                        // Strong Password setup 
                                        const password = document.getElementById('register-password');
                                        const password_security_label = document.querySelector('.password-security-label')
                                        const password_label = document.querySelector('.password-label');
                                        const one_capital_letter_label = document.querySelector('.one-capital-letter-label')
                                        const one_small_letter_label = document.querySelector('.one-small-letter-label');
                                        const one_digit_label = document.querySelector('.one-digit-label');
                                        const one_special_char_label = document.querySelector('.one-special-char-label');
                                        const eight_char_label = document.querySelector('.eight-char-label');

                                        // Defining a function to check all password conditions individually
                                        function evaluatePasswordStrength() {
                                            // capital letter
                                            if (/^(?=.*[A-Z])/.test(password.value)) {
                                                one_capital_letter_label.style.setProperty('color', '#4BB543', 'important');
                                                one_capital_letter_label.textContent = 'One capital letter! \u2705'
                                                one_capital_letter_label.classList.remove('d-none');
                                            } else {
                                                one_capital_letter_label.style.setProperty('color', 'red', 'important');
                                                one_capital_letter_label.textContent = 'One capital letter! \u274C';
                                                one_capital_letter_label.classList.remove('d-none');
                                            }

                                            // small letter
                                            if (/^(?=.*[a-z])/.test(password.value)) {
                                                one_small_letter_label.style.setProperty('color', '#4BB543', 'important');
                                                one_small_letter_label.textContent = 'One small letter! \u2705';
                                                one_small_letter_label.classList.remove('d-none');
                                            } else {
                                                one_small_letter_label.style.setProperty('color', 'red', 'important');
                                                one_small_letter_label.textContent = 'One small letter! \u274C';
                                                one_small_letter_label.classList.remove('d-none');
                                            }

                                            // one digit
                                            if (/^(?=.*\d)/.test(password.value)) {
                                                one_digit_label.style.setProperty('color', '#4BB543', 'important');
                                                one_digit_label.textContent = 'One number! \u2705';
                                                one_digit_label.classList.remove('d-none');
                                            } else {
                                                one_digit_label.style.setProperty('color', 'red', 'important');
                                                one_digit_label.textContent = 'One number! \u274C';
                                                one_digit_label.classList.remove('d-none');
                                            }

                                            // one special character
                                            if (/^(?=.*[!@#$%^&*()_-])/.test(password.value)) {
                                                one_special_char_label.style.setProperty('color', '#4BB543', 'important');
                                                one_special_char_label.textContent = 'One special character! \u2705';
                                                one_special_char_label.classList.remove('d-none');
                                            } else {
                                                one_special_char_label.style.setProperty('color', 'red', 'important');
                                                one_special_char_label.textContent = 'One special character! \u274C';
                                                one_special_char_label.classList.remove('d-none');
                                            }

                                            // atleast eight characters long
                                            if (password.value.length >= 8) {
                                                eight_char_label.style.setProperty('color', '#4BB543', 'important');
                                                eight_char_label.textContent = 'Minimum eight characters! \u2705';
                                                eight_char_label.classList.remove('d-none');
                                            } else {
                                                eight_char_label.style.setProperty('color', 'red', 'important');
                                                eight_char_label.textContent = 'Minimum eight characters! \u274C';
                                                eight_char_label.classList.remove('d-none');
                                            }
                                        }

                                        password.addEventListener('input', () => {
                                            if (password.value.includes(' ')) {
                                                password_label.classList.remove('d-none');
                                                password_label.style.setProperty('color', 'red', 'important');
                                                password.style.setProperty('border-color', 'red', 'important');
                                                password_label.textContent = '*Password shouldn\'t contain spaces!';
                                            } else {
                                                if (/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_-])[A-Za-z\d!@#$%^&*()_-]{8,}$/.test(password.value)) {
                                                    if (password.value.length >= 8) {
                                                        if (password.value.length >= 12) {
                                                            password_security_label.textContent = 'Password is highly secured! \u2705'
                                                            password_security_label.style.setProperty('color', '#00FF00', 'important')
                                                        } else if (password.value.length >= 10) {
                                                            password_security_label.textContent = 'Password security is moderate! \u2705';
                                                            password_security_label.style.setProperty('color', '#454e4e', 'important')
                                                        } else if (password.value.length >= 8) {
                                                            password_security_label.textContent = 'Password security is good! \u2705';
                                                            password_security_label.style.setProperty('color', '#ffc107', 'important')
                                                        }

                                                        password_security_label.classList.remove('d-none');
                                                        password.style.setProperty('border-color', '#4BB543', 'important');


                                                    }

                                                    evaluatePasswordStrength();

                                                } else if (!/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_-])[A-Za-z\d!@#$%^&*()_-]{8,}$/.test(password.value)) {

                                                    password_security_label.classList.add('d-none');
                                                    password.style.setProperty('border-color', 'red', 'important');

                                                    evaluatePasswordStrength();
                                                }
                                            }
                                        });




                                        // Passwords match or not [from password.addEventListener to repassword label]
                                        // For dynamically checking and displaying error of password mismatch from the password field to repassword error label
                                        // (exception --> spaces only)
                                        password.addEventListener('input', () => {
                                        const passwordMatch = rePassword.value === password.value;
                                        if (!passwordMatch && rePassword.value.length > 0) {
                                            re_password_label.style.setProperty('color', 'red', 'important');
                                            re_password_label.textContent = 'Passwords do not match!';
                                            re_password_label.classList.remove('d-none');
                                        } else if (passwordMatch && password.value.length > 0) {
                                            re_password_label.style.setProperty('color', '#4BB543', 'important');
                                            re_password_label.textContent = 'Passwords match!';
                                            re_password_label.classList.remove('d-none');
                                        }
                                    })

                                        // Passwords match or not [from repassword.addEventListener to repassword label]
                                        const rePassword = document.getElementById('reEnter-password');
                                        const re_password_label = document.querySelector('.re-password-label');
                                        rePassword.addEventListener('input', () => {
                                            const passwordMatch = rePassword.value === password.value;
                                            if (password.value.length > 1) {
                                                if (passwordMatch) {
                                                    re_password_label.style.setProperty('color', '#4BB543', 'important');
                                                    re_password_label.textContent = 'Passwords match!';
                                                    re_password_label.classList.remove('d-none');
                                                } else {
                                                    re_password_label.style.setProperty('color', 'red', 'important');
                                                    re_password_label.textContent = 'Passwords do not match!';
                                                    re_password_label.classList.remove('d-none');
                                                }
                                            }
                                        });



                                        const btn = document.querySelector('.btn-submit');
                                        btn.addEventListener('click', function (event) {
                                            let isValid = true;
                                            const error_labels = document.querySelectorAll('.error-label');
                                            const passwordMatch = rePassword.value.trim() === password.value.trim();
                                            // Iterate over form fields
                                            document.querySelectorAll('.signup-input').forEach(function (field, index) {
                                                // Trim the value to check if it's only spaces
                                                if (field.value.trim().length === 0) {
                                                    // If the field is empty or contains only spaces, mark it as invalid
                                                    field.style.setProperty('border-color', 'red', 'important');
                                                    error_labels[index].textContent = '* This field is required!'
                                                    error_labels[index].classList.remove('d-none');
                                                    isValid = false;
                                                } else if (!passwordMatch) {
                                                    re_password_label.style.setProperty('color', 'red', 'important');
                                                    re_password_label.textContent = 'Passwords do not match!';
                                                    re_password_label.classList.remove('d-none');
                                                    isValid = false;
                                                } else if (password.value.includes(' ')) {
                                                    password_label.classList.remove('d-none');
                                                    password_label.style.setProperty('color', 'red', 'important');
                                                    password.style.setProperty('border-color', 'red', 'important');
                                                    password_label.textContent = '*Password shouldn\'t contain spaces!';
                                                    isValid = false;
                                                }
                                            });
                                            // Prevent form submission if not valid
                                            if (!isValid) {
                                                event.preventDefault();
                                            }
                                        });
                                    </script>


                                    </div><!-- .End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- End .form-tab -->
                        </div><!-- End .form-box -->
                    </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->

    <%- include('./partials/footer') %>