
<%- include('./partials/signupHeader') %>
      
        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container">
                    <ol class="breadcrumb position-relative ">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Login</li>
                        
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

           

            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17 position-relative " style="background-image: url('/assets/images/backgrounds/login-bg.jpg')">
                <% if(locals.message) { %> 
                    <label id="alert-success" class="alert <%= locals.class %> position-absolute rounded p-2  " style="top:0; left: 0 !important; right: 0 !important; text-align: center;"><%= locals.message %> <a href="/user/login"  style="text-decoration: underline; color: #fff; font-weight: bold; background-color: #000;">Try Sign In?</a> </label>
                <% } %>
            	<div class="container">
                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <h4>Register</h4>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane active" id="register" role="tabpanel" aria-labelledby="register-tab">
        
                                    <form action="/user/signup" method="post">
                                        <div class="form-group">
                                            <label for="register-firstName">Your firstname *</label>
                                            <input type="text" class="form-control" id="register-firstName" name="firstName"  value="<%= locals.firstName %>" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-lastName">Your lastname *</label>
                                            <input type="text" class="form-control" id="register-lastName" name="lastName" value="<%= locals.lastName %>"  required>
                                        </div><!-- End .form-group -->
        
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control <%= locals.EmailBorderColor %>" id="register-email" name="email" value="<%= locals.email %>"  required>
                                            <script>
                                                let emailInput = document.getElementById('register-email');
                                                emailInput.addEventListener('focus',() => {
                                                    emailInput.style.setProperty('border-color', '#ddd', 'important');
                                                })
                                            </script>
                                        </div><!-- End .form-group -->
        
                                        <div class="form-group">
                                            <label for="register-phoneNumber">Your phone number*</label>
                                            <input type="tel" class="form-control <%= locals.MobileBorderColor %>" id="register-phoneNumber" name="phoneNumber" value="<%= locals.phoneNumber %>"  required>
                                            <script>
                                                let phoneNumberInput = document.getElementById('register-phoneNumber');
                                                phoneNumberInput.addEventListener('focus',() => {
                                                    phoneNumberInput.style.setProperty('border-color', '#ddd', 'important');
                                                })
                                            </script>
                                        </div><!-- End .form-group -->
        
                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="password" value="<%= locals.password %>"  required>
                                        </div><!-- End .form-group -->
        
                                        <div class="form-group">
                                            <label for="reEnter-password">Re-enter password *</label>
                                            <input type="password" class="form-control" id="reEnter-password" name="rePassword" value="<%= locals.rePassword %>"  required>
                                        </div><!-- End .form-group -->
        
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
        
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

<%- include('./partials/footer') %>