<%- include('../partials/otpHeader') %>

    <main class="main">

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17 position-relative "
            style="background-image: url('/assets/images/backgrounds/login-bg.jpg')">
            <% if(locals.message) { %>
                <label id="alert-success" class="alert <%= locals.class %> position-absolute rounded p-2  "
                    style="top:0; left: 0 !important; right: 0 !important; text-align: center;">
                    <%= locals.message %> <a href="/login"
                            style="text-decoration: underline; color: #fff; font-weight: bold; background-color: #000;">Try
                            Sign In?</a>
                </label>
                <% } %>
                    <div class="container">
                        <div class="form-box">
                            <div class="form-tab">
                                <ul class="nav nav-pills nav-fill" role="tablist">
                                    <li class="nav-item">
                                        <h4>Enter OTP</h4>
                                    </li>
                                </ul>
                                <div class="tab-content" id="tab-content-5">
                                    <div class="tab-pane active" id="register" role="tabpanel"
                                        aria-labelledby="register-tab">
                                        <form id="otpForm" action="/forgot-password-otp/<%= locals.index %>" method="post">
                                            <div class="form-group">
                                                <label style="font-size: 12px;">To continue, complete this verification step. We've sent an OTP to the email <%= locals.email%>. Please enter it below to complete verification. <br> </label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="otpInput" name="otp">
                                                    <div class="input-group-append">
                                                        <a href="/password-reset-resend-otp/<%= locals.index %>"><button type="button"
                                                                class="btn btn-dark " id="resendOtp" disabled >Resend
                                                                OTP</button></a>
                                                    </div>
                                                </div>
                                                <label class="text-danger invalid-otp"
                                                    style="font-weight: 500; font-size: 12px; margin: 0;">
                                                    <%= locals.invalidOTP %>
                                                </label>
                                                <label class="d-none text-danger otp-label"
                                                    style="font-weight: 500; font-size: 12px; margin: 0;"></label>
                                                <small class="form-text text-muted mt-1 text-primary display-time "
                                                    id="timeRemaining">
                                                    <option class="d-inline-block " id="timer"
                                                        value="<%= locals.emailSendTime %>">
                                                    </option> 
                                                </small>
                                            </div>
                                            <button type="submit" class="otp-btn btn btn-dark w-100">Submit</button>
                                        </form>
                                    </div><!-- .End .tab-pane -->
                                </div><!-- End .tab-content -->
                            </div><!-- End .form-tab -->
                        </div><!-- End .form-box -->
                    </div><!-- End .container -->

                    <script>

                        const otpInput = document.getElementById("otpInput");
                        const otpBtn = document.querySelector('.otp-btn');
                        const otpInput_label = document.querySelector('.otp-label');
                        const resendOtpBtn = document.getElementById('resendOtp');
                        const timer = document.getElementById('timer');
                        const invalidOtpLabel = document.querySelector('.invalid-otp')


                        let emailSendTime = Number(timer.value);
                        let currentTime = 30 - Math.floor((Date.now() - emailSendTime) / 1000);
                        const interval = setInterval(() => {
                            timer.textContent = `Time Remaining: ${currentTime} seconds`;
                            if (currentTime <= 0) {
                                clearInterval(interval);
                                timer.textContent = "OTP Expired!";
                                resendOtpBtn.removeAttribute('disabled')
                            }
                            currentTime--;
                        }, 1000);

                        otpInput.addEventListener("input", function () {
                            let inputValue = this.value;

                            // Remove non-numeric characters
                            inputValue = inputValue.replace(/[^0-9]/g, '');

                            // Limit the length to 6 characters
                            inputValue = inputValue.substring(0, 6);

                            // Update the input value
                            this.value = inputValue;
                        });

                        otpBtn.addEventListener('click', (event) => {
                            if (otpInput.value.length === 0) {
                                showError('*Field is empty!');
                                event.preventDefault();
                            } else if (otpInput.value.length < 6) {
                                showError('*Enter the full OTP!');
                                event.preventDefault();
                            } else if (currentTime <= 0) {
                                showError('*Try Resend OTP! Previous OTP expired.');
                                event.preventDefault();
                            } else {
                                hideError();
                            }
                        });

                        otpInput.addEventListener("focusin", function () {
                            invalidOtpLabel.textContent = '';
                        });

                        function showError(message) {
                            otpInput_label.classList.remove('d-none');
                            otpInput_label.textContent = message;
                        }

                        function hideError() {
                            otpInput_label.classList.add('d-none');
                        }
                    </script>

        </div>
    </main><!-- End .main -->


    <%- include('../partials/footer') %>